@font-face {
  font-family: rezvan;
  src: url("./assets/Rezvan.ttf");
}

body {
  margin: 0;
  font-family: rezvan;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-size: 14px;
}

p , a , h1 ,h2,h3,h4,h5 , span , div , button , input {
  font-family: rezvan;

}
